.profileDashboard {

    #fotoProfile,
    .fotoProfile {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        margin: 0px 5px 25px;
    }

    .card {
        min-width: 250px;
    }

    .text-tit-line h2 {
        color: #fff;
        background-color: rgba(15, 2, 39, 0.781);
        border-bottom: 1px solid #111;
        margin-bottom: 15px;
    }

    .tipo {
        font-size: 18px;
    }

    .content-image {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    input[type="file"] {
        display: none;
    }

    .container-ima {
        width: 100%;
        border: 1px solid #ccc;
    }

    .info-text {
        font-size: 12px;
    }

    .info-text span {
        font-size: 14px;
        font-weight: 600;
    }

    .info-bag {
        margin: 12px 0px 6px;
    }

    .info-bag span {
        padding: 2px 20px;
        border-radius: 50px;
        font-size: 15px;
    }

    .publico span {
        border: 1px solid #6dff33;
        color: #6dff33;
        background-color: #6dff3348;
    }

    .privado span {
        border: 1px solid #ff0000;
        color: #ff0000;
        background-color: #ff000048;
    }

    /*.info-bag span i {
        font-size: 16px;
    }*/

    .text-nombre {
        font-size: 24px;
        font-weight: bold;
    }

    .btn-align {
        text-align: right;
    }

    #icon-upload {
        margin-top: 53px;
        margin-left: -40px;
        border-radius: 50%;
        padding: 8px 12px;
        border: 1px solid #fff;
    }

    @media (max-width: 768px) {
        .btn-align {
            text-align: center;
        }
    }
}