<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-12 title-header">
          <h2>Páginas</h2>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 pb-2 px-1">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="checkRegEditDev">
            <label class="form-check-label" for="checkRegEditDev">Activar edición de páginas (Develop)</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="checkRegEditPro">
            <label class="form-check-label" for="checkRegEditPro">Activar edición de páginas (Producción)</label>
          </div>
        </div>
      </div>
    </div>
  </div>