* {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Oswald', sans-serif !important;
  overflow: hidden;
}

.dark {
  background: #050505;
  color: #fff;
}

a {
  text-decoration: none;
}

.container {
  width: min(1200px, 90%);
  margin: auto;
}

.index {
  width: 100vw;
  height: 100vh;
}

.navbar-brand span {
  color: #6dff33;
}

.navbar {
  background: black !important;
}

.nav-link {
  color: #fff !important;
}

.masthead {
  color: white;
  min-height: 30rem;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: #eee url(./../img/bg/background.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

#content {
  height: 90%;
  overflow-x: hidden;
  padding-bottom: 15px;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }

  .masthead h1 {
    font-size: 5.5rem;
  }
}

/**/
.form-check-input:hover {
  cursor: pointer !important;
}

.barLogin {
  padding: 12px 0px;
}

#app {
  width: 100%;
  height: 100%;

}

@media (max-width: 1024px) {
  body {
    overflow-y: auto;
  }
}

@media (max-width: 200px) {
  #app {
    width: 600px;
    height: 500px;
  }
}