<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name">AdminLab</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#/dashboard">
                <i class='bx bx-grid-alt'></i>
                <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#/dashboard">Dashboard</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#/links">
                    <i class='bx bx-book-alt'></i>
                    <span class="link_name">Links</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#/links">Links</a></li>
                <li><a href="#/links">Lista</a></li>
                <li><a href="#/links/linksAdd">Nuevo</a></li>
            </ul>
        </li>
        <li>
            <a href="#/dashboard/settings">
                <i class='bx bx-cog'></i>
                <span class="link_name">Setting</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#/dashboard/settings">Setting</a></li>
            </ul>
        </li>
        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <a href="#/dashboard/perfil">
                        <img src="./assets/img/sinfoto.png" alt="profileImg">
                    </a>
                </div>
                <div class="name-job">
                    <div class="profile_name">name</div>
                    <div class="job">job</div>
                </div>
                <i class='bx bx-log-out'></i>
            </div>
        </li>
    </ul>
</div>