<div class="container-fluid sistema">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Estado del sistema</h5>
                </div>
                <div class="card-body cards">
                    <!--Card-->
                    <div class="card item">
                        <div class="btn-icon">
                            <i class="bi bi-database-check"></i>
                        </div>
                        <div class="text-align">
                            <h6>Firebase</h6>
                            <span id="firebase">Firebase</span>
                        </div>
                    </div>
                    <!--/Card-->
                    <!--Card-->
                    <div class="card item">
                        <div class="btn-icon">
                            <i class="bi bi-code-slash"></i>
                        </div>
                        <div class="text-align">
                            <h6>Versión</h6>
                            <span id="version">Version</span>
                        </div>
                    </div>
                    <!--/Card-->
                    <!--Card-->
                    <div class="card item">
                        <div class="btn-icon">
                            <i class="bi bi-hdd-stack"></i>
                        </div>
                        <div class="text-align">
                            <h6>Entorno</h6>
                            <span id="entorno">Entorno</span>
                        </div>
                    </div>
                    <!--/Card-->
                </div>
            </div>
        </div>
    </div>
</div>