$bg_primary: #ccc;
$color-text: #000;
$color-link: #fff;
$color-bg-d: #aaa;

body {
    background: $bg_primary;
    color: $color-text;
}

.row{
    --bs-gutter-x:0;
}

.navbar-dark .navbar-nav .nav-link{
    color: $color-link;
}

.home-content{
    background: $color-bg-d;
}

.card{
    margin: 0; 
    padding: 0;
}