/*======================
HEADER
======================*/

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: #050505;
    border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.logo img {
    width: 45px;
}

.green {
    color: #6dff33;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    color: white;
    transition: .3s;
}

nav a:hover {
    color: #72ff38;
}

.btn-login {
    background: #66ff33;
    color: #000;
    border: 1px solid #66ff33;
    font-weight: 700;
}

.btn-login:hover {
    background: #000;
    color: #fff;
    border: 1px solid #66ff33;
}

.active {
    border-bottom: 2px solid #66ff33;
}


/*======================
HERO
======================*/

.hero {
    height: 100vh;
    /*display: flex;*/
    padding-top: 25px;
    align-items: center;
    position: relative;
    background-image: url("./assets/img/bg/background.png");
    background-size: cover;
    background-position: center;
}