/*======================
HEADER
======================*/

.btn-login {
    background: #66ff33;
    color: #000;
    border: 1px solid #66ff33;
    font-weight: 700;
}

.btn-login:hover {
    background: #000;
    color: #fff;
    border: 1px solid #66ff33;
}

.active {
    border-bottom: 2px solid #66ff33;
}